.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: 5px;
  padding-top: 10px;
  position: relative;
}
.information-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.martyrs-list {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(32, 40px);
  grid-template-rows: repeat(2, 40px);
  font-size: 35px;
}
.player-info {
  font-size: 50px;
  font-weight: 700;
}
.player {
  font-size: 40px;
  font-weight: 500;
}
.board-body {
  position: relative;
}
.info-row {
  margin-right: 25px;
  display: grid;
  /* grid-template-columns: repeat(8, 100px); */
  grid-template-rows: repeat(8, 80px);
}
.info-col {
  margin-right: 160px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  /* grid-template-rows: repeat(8, 80px); */
}
.item {
  display: inline-grid;
  place-items: center;
  margin: 0;
  font-size: 25px;
}
